/* Page Portfolio */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* root section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --text-content:#333;
    --overlay-color: #64A9f9;
    --main-color: #64A9F9;
    --white-color: #fdfdfd;
    --sec-text-color: #64A9F9;
    --hover-menu-color: #333;
    --icon-color:#64A9F9;
    --shadow-color: rgba(0,0,0,.2);
}

.dark-mode {
    --bg-color: #383838;
    --overlay-color: #383838;
    --text-color: #fdfdfd;
    --main-color: #383838;
    --sec-text-color: #ffffff;
    --text-content: #333;
    --icon-color:#fdfdfd;
    --hover-menu-color: #868181;
    --shadow-color: rgba(255, 255, 255, 0.856);
}

.header .logo-sec {
    font-size: 2.5rem;
    color: var(--bg-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.header.sticky .logo-sec {
    color: var(--icon-color);
}

#darkMode-sec-icon {
    font-size: 2.4rem;
    color: var(--bg-color);
    cursor: pointer;
}

#darkMode-sec-icon:hover {
    font-weight: 800;
}

.header.sticky #darkMode-sec-icon {
    color: var(--black-color);
    opacity: .9;
}

.header.sticky #darkMode-sec-icon:hover {
    color: var(--overlay-color);
    opacity: .9;
}

.dark-mode .header.sticky #darkMode-sec-icon {
    color: var(--white-color);
    opacity: 9;
}

.dark-mode .header.sticky #darkMode-sec-icon:hover {
    color: var(--hover-menu-color);
    opacity: 9;
}

#menu-sec-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navbar-sec a{
    position: relative;
    font-size: 1.7rem;
    color: var(--bg-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar-sec a {
    color: var(--text-color);
}

.header.sticky .navbar-sec a:hover {
    color: var(--overlay-color);
}

.dark-mode .header.sticky .navbar-sec a {
    color: var(--text-color);
}

.dark-mode .header.sticky .navbar-sec a:hover {
    color: var(--hover-menu-color);
    font-weight: 0;
}

.header.sticky .navbar-sec a.active {
    color: var(--sec-text-color);
}

.navbar-sec a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--bg-color);
}

.header.sticky .navbar-sec a::before {
    background: var(--sec-text-color);
    opacity: .7;
}

/* sidebar */
.sidebar {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    background-color: var(--white-color);
}

.dark-mode .sidebar {
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    background-color: var(--black-color);
}

.nav-item {
    position: relative;
}

.nav-item::marker {
    content: '';
}

.nav-item:not(:last-child) {
    margin-bottom: 5px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
}

.nav-link .bx {
    color: var(--text-color);
}

.dark-mode .nav-link .bx {
    color: var(--text-color);
}

.nav-link i {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    transition: all 0.3s;
}

.dark-mode .nav-link i {
    background-color: var(--black-color);
}

.nav-item:hover i {
    transform: scale(1.1);
    box-shadow: 10px 0 2px var(--shadow-color);
}

.dark-mode .nav-item:hover i {
    box-shadow: 10px 0 2px var(--shadow-color);
}

.nav-link .title {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    transform: translateX(0);
    z-index: -1;
    transition: all 0.3s;
    color: var(--text-color);
    box-shadow: 10px 0 2px var(--shadow-color);
    background-color: var(--white-color);
}

.dark-mode .nav-link .title {
    color: var(--text-color);
    box-shadow: 10px 0 2px var(--shadow-color);
    background-color: var(--black-color);
}

.nav-item:hover .title {
    transform: translateX(-100%);
}

.nav-item .nav-link span.title {
    font-size: 15px;
}

/* ----------------------------------- Web Sidebar ----------------------------------------------------------- */

.nav-item #one-web {
    width: 280px;
}

.nav-item #two-web {
    width: 200px;
}

/* ----------------------------------- End Web Sidebar -------------------------------------------------------- */

/* ----------------------------------- App Sidebar ----------------------------------------------------------- */

.nav-item #one-app {
    width: 200px;
}

.nav-item #two-app {
    width: 250px;
}

.nav-item #three-app {
    width: 230px;
}

.nav-item #four-app {
    width: 230px;
}

/* ----------------------------------- End App Sidebar -------------------------------------------------------- */

/* ----------------------------------- UI Sidebar ----------------------------------------------------------- */

.nav-item #one-uiux {
    width: 340px;
}

.nav-item #two-uiux {
    width: 240px;
}

.nav-item #three-uiux {
    width: 300px;
}

.nav-item #four-uiux {
    width: 300px;
}

.nav-item #five-uiux {
    width: 300px;
}

.nav-item #six-uiux {
    width: 300px;
}

.nav-item #seven-uiux {
    width: 300px;
}

/* ----------------------------------- End UI Sidebar -------------------------------------------------------- */

/* ----------------------------------- Web Section -------------------------------------------------------------*/

.headerweb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headerweb .headerweb-container {
    max-width: 100rem;
}

.headerweb .headerweb-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerweb .headerweb-container .title h1 {
    font-size: 5rem;
    color: var(--bg-color);
}

.headerweb .headerweb-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headerweb .headerweb-container .overlay-content {
    position: absolute;
    width: 0;
    left: 6px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 670px solid transparent;
    border-top: 30px solid transparent;
    border-left: 670px solid transparent;
    border-bottom: 100px solid var(--bg-color);
}

.web {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First Web */

.web .heading-oneweb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.web .heading-oneweb img {
    width: 20vw;
    bottom: 0;
}

.web .heading-oneweb .oneweb-text {
    padding: 4rem 0 0;
}

.web .heading-oneweb .oneweb-text h3 {
    font-size: 2.2rem;
}

.web .heading-oneweb .oneweb-text p {
    font-size: 1.8rem;
}

.oneweb-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7rem;
}

.oneweb-content img {
    width: 50%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    margin-bottom: 5rem;
}

.dark-mode .oneweb-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneweb-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.oneweb-content p {
    font-size: 1.5rem;
}

/* Second Web */

.web .heading-twoweb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.web .heading-twoweb img {
    width: 20vw;
    bottom: 0;
}

.web .heading-twoweb .twoweb-text {
    padding: 4rem 0 0;
}

.web .heading-twoweb .twoweb-text h3 {
    font-size: 2.2rem;
}

.web .heading-twoweb .twoweb-text p {
    font-size: 1.8rem;
    text-align: end;
}

.twoweb-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.twoweb-content .img-twoweb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin-bottom: 5rem;
}

.twoweb-content img {
    width: 40%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoweb-content img.data1 {
    width:460px;
    height: 235px;
}

.dark-mode .twoweb-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoweb-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.twoweb-content p {
    font-size: 1.5rem;
}

/* ----------------------------------- End Web Section ----------------------------------------------------------*/

/* ----------------------------------- App Section -------------------------------------------------------------*/

.headerapp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headerapp .headerapp-container {
    max-width: 100rem;
}

.headerapp .headerapp-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerapp .headerapp-container .title h1 {
    font-size: 5rem;
    color: var(--bg-color);
}

.headerapp .headerapp-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headerapp .headerapp-container .overlay-content {
    position: absolute;
    width: 0;
    left: 6px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 670px solid transparent;
    border-top: 30px solid transparent;
    border-left: 670px solid transparent;
    border-bottom: 100px solid var(--bg-color);
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First Apps */

.app .heading-oneapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.app .heading-oneapp img {
    width: 15vw;
    bottom: 0;
}

.app .heading-oneapp .oneapp-text {
    padding: 4rem 0 0;
}

.app .heading-oneapp .oneapp-text h3 {
    font-size: 2.2rem;
}

.app .heading-oneapp .oneapp-text p {
    font-size: 1.8rem;
}

.oneapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.oneapp-content .img-oneapp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 200px 30px 200px;
}

.oneapp-content img {
    width: 25%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .oneapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneapp-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.oneapp-content p {
    font-size: 1.5rem;
}

/* Second Apps */

.app .heading-twoapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.app .heading-twoapp img {
    width: 15vw;
    bottom: 0;
}

.app .heading-twoapp .twoapp-text {
    padding: 4rem 0 0;
}

.app .heading-twoapp .twoapp-text h3 {
    font-size: 2.2rem;
}

.app .heading-twoapp .twoapp-text p {
    font-size: 1.8rem;
    text-align: end;
}

.twoapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.twoapp-content .img-twoapp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 100px 30px 100px;
}

.twoapp-content img {
    width: 20%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .twoapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoapp-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.twoapp-content p {
    font-size: 1.5rem;
}

/* third Apps */

.app .heading-threeapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.app .heading-threeapp img {
    width: 15vw;
    bottom: 0;
}

.app .heading-threeapp .threeapp-text {
    padding: 4rem 0 0;
}

.app .heading-threeapp .threeapp-text h3 {
    font-size: 2.2rem;
}

.app .heading-threeapp .threeapp-text p {
    font-size: 1.8rem;
}

.threeapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.threeapp-content .img-threeapp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 200px 30px 200px;
}

.threeapp-content img {
    width: 25%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .threeapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.threeapp-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.threeapp-content p {
    font-size: 1.5rem;
}

/* Fourth Apps */

.app .heading-fourapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    flex-direction: row-reverse;
}

.app .heading-fourapp img {
    width: 15vw;
    bottom: 0;
}

.app .heading-fourapp .fourapp-text {
    padding: 4rem 0 0;
}

.app .heading-fourapp .fourapp-text h3 {
    font-size: 2.2rem;
}

.app .heading-fourapp .fourapp-text p {
    font-size: 1.8rem;
    text-align: end;
}

.fourapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}

.fourapp-content .img-fourapp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 0 0;
}

.fourapp-content img {
    width: 18%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .fourapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fourapp-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.fourapp-content p {
    font-size: 1.5rem;
}

/* ----------------------------------- End App Section ----------------------------------------------------------*/

/* ----------------------------------- UI/UX Section -------------------------------------------------------------*/

.headerui {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headerui .headerui-container {
    max-width: 100rem;
}

.headerui .headerui-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerui .headerui-container .title h1 {
    font-size: 5rem;
    color: var(--bg-color);
}

.headerui .headerui-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headerui .headerui-container .overlay-content {
    position: absolute;
    width: 0;
    left: 6px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 670px solid transparent;
    border-top: 30px solid transparent;
    border-left: 670px solid transparent;
    border-bottom: 100px solid var(--bg-color);
}

.ui {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First UI/UX */

.ui .heading-oneui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-oneui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-oneui .oneui-text {
    padding: 4rem 0 0;
}

.ui .heading-oneui .oneui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-oneui .oneui-text p {
    font-size: 1.8rem;
}

.oneui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.oneui-content .img-oneui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.oneui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .oneui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.oneui-content p {
    font-size: 1.5rem;
}

/* Second UI/UX */

.ui .heading-twoui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.ui .heading-twoui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-twoui .twoui-text {
    padding: 4rem 0 0;
}

.ui .heading-twoui .twoui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-twoui .twoui-text p {
    font-size: 1.8rem;
    text-align: end;
}

.twoui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.twoui-content .img-twoui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.twoui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .twoui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.twoui-content p {
    font-size: 1.5rem;
}

/* Third UI/UX */

.ui .heading-threeui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-threeui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-threeui .threeui-text {
    padding: 4rem 0 0;
}

.ui .heading-threeui .threeui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-threeui .threeui-text p {
    font-size: 1.8rem;
}

.threeui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.threeui-content .img-threeui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.threeui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .threeui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.threeui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.threeui-content p {
    font-size: 1.5rem;
}

/* Fourth UI/UX */

.ui .heading-fourui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.ui .heading-fourui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-fourui .fourui-text {
    padding: 4rem 0 0;
}

.ui .heading-fourui .fourui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-fourui .fourui-text p {
    font-size: 1.8rem;
    text-align: end;
}

.fourui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.fourui-content .img-fourui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.fourui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .fourui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fourui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.fourui-content p {
    font-size: 1.5rem;
}

/* Fiveth UI/UX */

.ui .heading-fiveui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-fiveui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-fiveui .fiveui-text {
    padding: 4rem 0 0;
}

.ui .heading-fiveui .fiveui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-fiveui .fiveui-text p {
    font-size: 1.8rem;
}

.fiveui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.fiveui-content .img-fiveui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.fiveui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .fiveui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fiveui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.fiveui-content p {
    font-size: 1.5rem;
}

/* Sixth UI/UX */

.ui .heading-sixui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.ui .heading-sixui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-sixui .sixui-text {
    padding: 4rem 0 0;
}

.ui .heading-sixui .sixui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-sixui .sixui-text p {
    font-size: 1.8rem;
    text-align: end;
}

.sixui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.sixui-content .img-sixui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.sixui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .sixui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.sixui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.sixui-content p {
    font-size: 1.5rem;
}

/* Seventh UI/UX */

.ui .heading-sevenui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-sevenui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-sevenui .sevenui-text {
    padding: 4rem 0 0;
}

.ui .heading-sevenui .sevenui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-sevenui .sevenui-text p {
    font-size: 1.8rem;
}

.sevenui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.sevenui-content .img-sevenui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.sevenui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .sevenui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.sevenui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.sevenui-content p {
    font-size: 1.5rem;
}

/* ----------------------------------- End App Section ----------------------------------------------------------*/