/* Page Portfolio */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* root section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --text-content:#333;
    --overlay-color: #64A9f9;
    --main-color: #64A9F9;
    --white-color: #fdfdfd;
    --sec-text-color: #64A9F9;
    --hover-menu-color: #333;
    --icon-color:#64A9F9;
    --shadow-color: rgba(0,0,0,.2);
}

.dark-mode {
    --bg-color: #383838;
    --overlay-color: #383838;
    --text-color: #fdfdfd;
    --main-color: #383838;
    --sec-text-color: #ffffff;
    --text-content: #333;
    --icon-color:#fdfdfd;
    --hover-menu-color: #868181;
    --shadow-color: rgba(255, 255, 255, 0.856);
}

.header .logo-sec {
    font-size: 4rem;
    color: var(--bg-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.header.sticky .logo-sec {
    color: var(--icon-color);
}

#darkMode-sec-icon {
    font-size: 3rem;
    color: var(--bg-color);
    cursor: pointer;
}

#darkMode-sec-icon:hover {
    font-weight: 800;
}

.header.sticky #darkMode-sec-icon {
    color: var(--black-color);
    opacity: .9;
}

.header.sticky #darkMode-sec-icon:hover {
    color: var(--overlay-color);
    opacity: .9;
}

.dark-mode .header.sticky #darkMode-sec-icon {
    color: var(--white-color);
    opacity: 9;
}

.dark-mode .header.sticky #darkMode-sec-icon:hover {
    color: var(--hover-menu-color);
    opacity: 9;
}

#menu-sec-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navbar-sec a{
    position: relative;
    font-size: 2.5rem;
    color: var(--bg-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar-sec a {
    color: var(--text-color);
}

.header.sticky .navbar-sec a:hover {
    color: var(--overlay-color);
}

.dark-mode .header.sticky .navbar-sec a {
    color: var(--text-color);
}

.dark-mode .header.sticky .navbar-sec a:hover {
    color: var(--hover-menu-color);
    font-weight: 0;
}

.header.sticky .navbar-sec a.active {
    color: var(--sec-text-color);
}

.navbar-sec a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--bg-color);
}

.header.sticky .navbar-sec a::before {
    background: var(--sec-text-color);
    opacity: .7;
}

/* sidebar */
.sidebar {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    background-color: var(--white-color);
}

.dark-mode .sidebar {
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    background-color: var(--black-color);
}

.nav-item {
    position: relative;
}

.nav-item::marker {
    content: '';
}

.nav-item:not(:last-child) {
    margin-bottom: 5px;
}

.nav-link {
    text-decoration: none;
    font-size: 30px;
}

.nav-link .bx {
    color: var(--text-color);
}

.dark-mode .nav-link .bx {
    color: var(--text-color);
}

.nav-link i {
    width: 80px;
    height: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    transition: all 0.3s;
}

.dark-mode .nav-link i {
    background-color: var(--black-color);
}

.nav-item:hover i {
    transform: scale(1.1);
    box-shadow: 10px 0 2px var(--shadow-color);
}

.dark-mode .nav-item:hover i {
    box-shadow: 10px 0 2px var(--shadow-color);
}

.nav-link .title {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 80px;
    transform: translateX(0);
    z-index: -1;
    transition: all 0.3s;
    color: var(--text-color);
    box-shadow: 10px 0 2px var(--shadow-color);
    background-color: var(--white-color);
}

.dark-mode .nav-link .title {
    color: var(--text-color);
    box-shadow: 10px 0 2px var(--shadow-color);
    background-color: var(--black-color);
}

.nav-item:hover .title {
    transform: translateX(-100%);
}

.nav-item .nav-link span.title {
    font-size: 25px;
}

/* ----------------------------------- Web Sidebar ----------------------------------------------------------- */

.nav-item #one-web {
    width: 400px;
}

.nav-item #two-web {
    width: 320px;
}

/* ----------------------------------- End Web Sidebar -------------------------------------------------------- */

/* ----------------------------------- App Sidebar ----------------------------------------------------------- */

.nav-item #one-app {
    width: 280px;
}

.nav-item #two-app {
    width: 380px;
}

.nav-item #three-app {
    width: 330px;
}

.nav-item #four-app {
    width: 330px;
}

/* ----------------------------------- End App Sidebar -------------------------------------------------------- */

/* ----------------------------------- UI Sidebar ----------------------------------------------------------- */

.nav-item #one-uiux {
    width: 340px;
}

.nav-item #two-uiux {
    width: 240px;
}

.nav-item #three-uiux {
    width: 300px;
}

.nav-item #four-uiux {
    width: 300px;
}

.nav-item #five-uiux {
    width: 300px;
}

.nav-item #six-uiux {
    width: 300px;
}

.nav-item #seven-uiux {
    width: 300px;
}

/* ----------------------------------- End UI Sidebar -------------------------------------------------------- */

/* ----------------------------------- IoT Sidebar ----------------------------------------------------------- */

.nav-item #one-iot {
    width: 340px;
}

.nav-item #two-iot {
    width: 240px;
}

.nav-item #three-iot {
    width: 300px;
}

.nav-item #four-iot {
    width: 300px;
}

.nav-item #five-iot {
    width: 300px;
}

/* ----------------------------------- End IoT Sidebar -------------------------------------------------------- */

/* ----------------------------------- ML Sidebar ----------------------------------------------------------- */

.nav-item #one-ml {
    width: 460px;
}

.nav-item #two-ml {
    width: 430px;
}

/* ----------------------------------- End ML Sidebar -------------------------------------------------------- */

/* ----------------------------------- Web Section -------------------------------------------------------------*/

.headerweb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headerweb .headerweb-container {
    max-width: 100rem;
}

.headerweb .headerweb-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerweb .headerweb-container .title h1 {
    font-size: 8rem;
    color: var(--bg-color);
}

.headerweb .headerweb-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headerweb .headerweb-container .overlay-content {
    position: absolute;
    width: 0;
    left: 200px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 800px solid transparent;
    border-top: 30px solid transparent;
    border-left: 800px solid transparent;
    border-bottom: 150px solid var(--bg-color);
}

.web {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First Web */

.web .heading-oneweb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.web .heading-oneweb img {
    width: 20vw;
    bottom: 0;
}

.web .heading-oneweb .oneweb-text {
    padding: 4rem 0 0;
    margin-left: -1rem;
}

.web .heading-oneweb .oneweb-text h3 {
    font-size: 3.2rem;
}

.web .heading-oneweb .oneweb-text p {
    font-size: 2.8rem;
}

.oneweb-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7rem;
}

.oneweb-content img {
    width: 50%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    margin-bottom: 5rem;
}

.dark-mode .oneweb-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneweb-content h4 {
    font-size: 3rem;
    margin-right: auto;
}

.oneweb-content p {
    font-size: 2.5rem;
}

/* Second Web */

.web .heading-twoweb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.web .heading-twoweb img {
    width: 20vw;
    bottom: 0;
}

.web .heading-twoweb .twoweb-text {
    padding: 4rem 0 0;
    margin-right: -1rem;
}

.web .heading-twoweb .twoweb-text h3 {
    font-size: 3.2rem;
}

.web .heading-twoweb .twoweb-text p {
    font-size: 2.8rem;
    text-align: end;
}

.twoweb-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.twoweb-content .img-twoweb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin-bottom: 5rem;
}

.twoweb-content img {
    width: 40%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoweb-content img.data1 {
    width: 687px;
    height: 350px;
}

.dark-mode .twoweb-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoweb-content h4 {
    font-size: 3rem;
    margin-right: auto;
}

.twoweb-content p {
    font-size: 2.5rem;
    padding-bottom: 5rem; 
}

/* ----------------------------------- End Web Section ----------------------------------------------------------*/

/* ----------------------------------- App Section -------------------------------------------------------------*/

.headerapp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headerapp .headerapp-container {
    max-width: 100rem;
}

.headerapp .headerapp-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerapp .headerapp-container .title h1 {
    font-size: 8rem;
    color: var(--bg-color);
}

.headerapp .headerapp-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headerapp .headerapp-container .overlay-content {
    position: absolute;
    width: 0;
    left: 200px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 800px solid transparent;
    border-top: 30px solid transparent;
    border-left: 800px solid transparent;
    border-bottom: 150px solid var(--bg-color);
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First Apps */

.app .heading-oneapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.app .heading-oneapp img {
    width: 20vw;
    bottom: 0;
}

.app .heading-oneapp .oneapp-text {
    padding: 0 1rem 0 2rem;
}

.app .heading-oneapp .oneapp-text h3 {
    font-size: 3.2rem;
}

.app .heading-oneapp .oneapp-text p {
    font-size: 2.8rem;
}

.oneapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.oneapp-content .img-oneapp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 200px 30px 200px;
}

.oneapp-content img {
    width: 25%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .oneapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneapp-content h4 {
    font-size: 3rem;
    margin-right: auto;
}

.oneapp-content p {
    font-size: 2.5rem;
}

/* Second Apps */

.app .heading-twoapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.app .heading-twoapp img {
    width: 20vw;
    bottom: 0;
}

.app .heading-twoapp .twoapp-text {
    padding: 1rem 2rem 0 0;
}

.app .heading-twoapp .twoapp-text h3 {
    font-size: 3.2rem;
}

.app .heading-twoapp .twoapp-text p {
    font-size: 2.8rem;
    text-align: end;
}

.twoapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.twoapp-content .img-twoapp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 100px 30px 100px;
}

.twoapp-content img {
    width: 20%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .twoapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoapp-content h4 {
    font-size: 3rem;
    margin-right: auto;
}

.twoapp-content p {
    font-size: 2.5rem;
}

/* third Apps */

.app .heading-threeapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.app .heading-threeapp img {
    width: 20vw;
    bottom: 0;
}

.app .heading-threeapp .threeapp-text {
    padding: 0 1rem 0 2rem;
}

.app .heading-threeapp .threeapp-text h3 {
    font-size: 3.2rem;
}

.app .heading-threeapp .threeapp-text p {
    font-size: 2.8rem;
}

.threeapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.threeapp-content .img-threeapp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 200px 30px 200px;
}

.threeapp-content img {
    width: 25%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .threeapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.threeapp-content h4 {
    font-size: 3rem;
    margin-right: auto;
}

.threeapp-content p {
    font-size: 2.5rem;
}

/* Fourth Apps */

.app .heading-fourapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    flex-direction: row-reverse;
}

.app .heading-fourapp img {
    width: 20vw;
    bottom: 0;
}

.app .heading-fourapp .fourapp-text {
    padding: 1rem 2rem 0 0;
}

.app .heading-fourapp .fourapp-text h3 {
    font-size: 3.2rem;
}

.app .heading-fourapp .fourapp-text p {
    font-size: 2.8rem;
    text-align: end;
}

.fourapp-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}

.fourapp-content .img-fourapp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 0 0;
}

.fourapp-content img {
    width: 18%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .fourapp-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fourapp-content h4 {
    font-size: 3rem;
    margin-right: auto;
}

.fourapp-content p {
    font-size: 2.5rem;
}

/* ----------------------------------- End App Section ----------------------------------------------------------*/

/* ----------------------------------- UI/UX Section -------------------------------------------------------------*/

.headerui {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headerui .headerui-container {
    max-width: 100rem;
}

.headerui .headerui-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerui .headerui-container .title h1 {
    font-size: 5rem;
    color: var(--bg-color);
}

.headerui .headerui-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headerui .headerui-container .overlay-content {
    position: absolute;
    width: 0;
    left: 6px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 670px solid transparent;
    border-top: 30px solid transparent;
    border-left: 670px solid transparent;
    border-bottom: 100px solid var(--bg-color);
}

.ui {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First UI/UX */

.ui .heading-oneui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-oneui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-oneui .oneui-text {
    padding: 0 0 0 2rem;
}

.ui .heading-oneui .oneui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-oneui .oneui-text p {
    font-size: 1.8rem;
}

.oneui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.oneui-content .img-oneui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.oneui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .oneui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.oneui-content p {
    font-size: 1.5rem;
}

/* Second UI/UX */

.ui .heading-twoui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.ui .heading-twoui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-twoui .twoui-text {
    padding: 0 2rem 0 0;
}

.ui .heading-twoui .twoui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-twoui .twoui-text p {
    font-size: 1.8rem;
    text-align: end;
}

.twoui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.twoui-content .img-twoui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.twoui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .twoui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.twoui-content p {
    font-size: 1.5rem;
}

/* Third UI/UX */

.ui .heading-threeui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-threeui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-threeui .threeui-text {
    padding: 0 0 0 2rem;
}

.ui .heading-threeui .threeui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-threeui .threeui-text p {
    font-size: 1.8rem;
}

.threeui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.threeui-content .img-threeui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.threeui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .threeui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.threeui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.threeui-content p {
    font-size: 1.5rem;
}

/* Fourth UI/UX */

.ui .heading-fourui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.ui .heading-fourui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-fourui .fourui-text {
    padding: 0 2rem 0 0;
}

.ui .heading-fourui .fourui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-fourui .fourui-text p {
    font-size: 1.8rem;
    text-align: end;
}

.fourui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.fourui-content .img-fourui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.fourui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .fourui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fourui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.fourui-content p {
    font-size: 1.5rem;
}

/* Fiveth UI/UX */

.ui .heading-fiveui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-fiveui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-fiveui .fiveui-text {
    padding: 0 0 0 1.2rem;
}

.ui .heading-fiveui .fiveui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-fiveui .fiveui-text p {
    font-size: 1.8rem;
}

.fiveui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.fiveui-content .img-fiveui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.fiveui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .fiveui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fiveui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.fiveui-content p {
    font-size: 1.5rem;
}

/* Sixth UI/UX */

.ui .heading-sixui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.ui .heading-sixui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-sixui .sixui-text {
    padding: 0 0 0 0;
}

.ui .heading-sixui .sixui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-sixui .sixui-text p {
    font-size: 1.8rem;
    text-align: end;
}

.sixui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.sixui-content .img-sixui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.sixui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .sixui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.sixui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.sixui-content p {
    font-size: 1.5rem;
}

/* Seventh UI/UX */

.ui .heading-sevenui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ui .heading-sevenui img {
    width: 12vw;
    bottom: 0;
}

.ui .heading-sevenui .sevenui-text {
    padding: 0 0 2rem 0;
}

.ui .heading-sevenui .sevenui-text h3 {
    font-size: 2.2rem;
}

.ui .heading-sevenui .sevenui-text p {
    font-size: 1.8rem;
}

.sevenui-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.sevenui-content .img-sevenui {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.sevenui-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .sevenui-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.sevenui-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.sevenui-content p {
    font-size: 1.5rem;
}

/* ----------------------------------- End UI/UX Section ----------------------------------------------------------*/

/* ----------------------------------- IoT Section ----------------------------------------------------------------*/

.headeriot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headeriot .headeriot-container {
    max-width: 100rem;
}

.headeriot .headeriot-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headeriot .headeriot-container .title h1 {
    font-size: 5rem;
    color: var(--bg-color);
}

.headeriot .headeriot-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headeriot .headeriot-container .overlay-content {
    position: absolute;
    width: 0;
    left: 6px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 670px solid transparent;
    border-top: 30px solid transparent;
    border-left: 670px solid transparent;
    border-bottom: 100px solid var(--bg-color);
}

.iot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First IoT */

.iot .heading-oneiot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.iot .heading-oneiot img {
    width: 12vw;
    bottom: 0;
}

.iot .heading-oneiot .oneiot-text {
    padding: 0 0 2rem 0;
}

.iot .heading-oneiot .oneiot-text h3 {
    font-size: 2.2rem;
}

.iot .heading-oneiot .oneiot-text p {
    font-size: 1.8rem;
}

.oneiot-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.oneiot-content .img-oneiot {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 30px 30px 30px;
}

.oneiot-content img {
    height: 250px;
    width: 250px;
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .oneiot-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneiot-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.oneiot-content p {
    font-size: 1.5rem;
}

/* Second IoT */

.iot .heading-twoiot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.iot .heading-twoiot img {
    width: 12vw;
    bottom: 0;
}

.iot .heading-twoiot .twoiot-text {
    padding: 1rem 0 0;
}

.iot .heading-twoiot .twoiot-text h3 {
    font-size: 2.2rem;
}

.iot .heading-twoiot .twoiot-text p {
    font-size: 1.8rem;
    text-align: end;
}

.twoiot-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.twoiot-content .img-twoiot {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.twoiot-content img {
    height: 250px;
    width: 250px;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .twoiot-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoiot-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.twoiot-content p {
    font-size: 1.5rem;
}

/* Third IoT */

.iot .heading-threeiot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.iot .heading-threeiot img {
    width: 12vw;
    bottom: 0;
}

.iot .heading-threeiot .threeiot-text {
    padding: 0 0 0;
}

.iot .heading-threeiot .threeiot-text h3 {
    font-size: 2.2rem;
}

.iot .heading-threeiot .threeiot-text p {
    font-size: 1.8rem;
}

.threeiot-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.threeiot-content .img-threeiot {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 90px 30px 50px;
}

.threeiot-content img {
    height: 350px;
    width: 350px;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.threeiot-content img.data3 {
    width:300px;
    height: 500px;
}

.dark-mode .threeiot-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.threeiot-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.threeiot-content p {
    font-size: 1.5rem;
}

/* Fourth IoT */

.iot .heading-fouriot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.iot .heading-fouriot img {
    width: 12vw;
    bottom: 0;
}

.iot .heading-fouriot .fouriot-text {
    padding: 2rem 1rem 0 0;
}

.iot .heading-fouriot .fouriot-text h3 {
    font-size: 2.2rem;
}

.iot .heading-fouriot .fouriot-text p {
    font-size: 1.8rem;
    text-align: end;
}

.fouriot-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.fouriot-content .img-fouriot {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 90px 30px 50px;
}

.fouriot-content img {
    height: 350px;
    width: 350px;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fouriot-content img.data3 {
    width:300px;
    height: 500px;
}

.dark-mode .fouriot-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fouriot-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.fouriot-content p {
    font-size: 1.5rem;
}

/* Fiveth IoT */

.iot .heading-fiveiot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.iot .heading-fiveiot img {
    width: 12vw;
    bottom: 0;
}

.iot .heading-fiveiot .fiveiot-text {
    padding: 0 0 0.5rem 1rem;
}

.iot .heading-fiveiot .fiveiot-text h3 {
    font-size: 2.2rem;
}

.iot .heading-fiveiot .fiveiot-text p {
    font-size: 1.8rem;
}

.fiveiot-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.fiveiot-content .img-fiveiot {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 90px 30px 50px;
}

.fiveiot-content img {
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fiveiot-content img.data1 {
    height: 450px;
    width: 700px;
    margin-right: 4rem;
}

.fiveiot-content img.data2,
.fiveiot-content img.data3 {
    width:300px;
    height: 500px;
} 

.dark-mode .fiveiot-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.fiveiot-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.fiveiot-content p {
    font-size: 1.5rem;
}

/* ----------------------------------- End IoT Section -----------------------------------------------------------*/

/* ----------------------------------- ML Section ----------------------------------------------------------------*/

.headerml {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--icon-color);
}

.headerml .headerml-container {
    max-width: 100rem;
}

.headerml .headerml-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerml .headerml-container .title h1 {
    font-size: 5rem;
    color: var(--bg-color);
}

.headerml .headerml-container .title h1 .text {
    color: var(--bg-color);
    text-align: center;
}

.headerml .headerml-container .overlay-content {
    position: absolute;
    width: 0;
    left: 6px;
    margin: auto;
    top: 81%;
    height: 0;
    border-right: 670px solid transparent;
    border-top: 30px solid transparent;
    border-left: 670px solid transparent;
    border-bottom: 100px solid var(--bg-color);
}

.ml {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* First ML */

.ml .heading-oneml {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: auto;
}

.ml .heading-oneml img {
    width: 12vw;
    bottom: 0;
}

.ml .heading-oneml .oneml-text {
    padding: 0 0 0 1rem;
}

.ml .heading-oneml .oneml-text h3 {
    font-size: 2.2rem;
}

.ml .heading-oneml .oneml-text p {
    font-size: 1.8rem;
}

.oneml-content {
    min-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-row-gap: 2rem;
    padding-bottom: 7rem;
}

.oneml-content img {
    width: 50%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .oneml-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.oneml-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.oneml-content p {
    font-size: 1.5rem;
}

/* Second ML */

.ml .heading-twoml {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
}

.ml .heading-twoml img {
    width: 12vw;
    bottom: 0;
}

.ml .heading-twoml .twoml-text {
    padding: 0 1.2rem 0 0;
}

.ml .heading-twoml .twoml-text h3 {
    font-size: 2.2rem;
}

.ml .heading-twoml .twoml-text p {
    font-size: 1.8rem;
    text-align: end;
}

.twoml-content {
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.twoml-content .img-twoml {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin: 0 0 30px 0;
}

.twoml-content img {
    width: 55%;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.dark-mode .twoml-content img {
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.twoml-content h4 {
    font-size: 2.5rem;
    margin-right: auto;
}

.twoml-content p {
    font-size: 1.5rem;
}

/* ----------------------------------- End ML Section -----------------------------------------------------------*/

@media (max-width: 1900px) {
    .nav-link {
        font-size: 25px;
    }

    .nav-link i {
        width: 70px;
        height: 70px;
    }

    .nav-link .title {
        line-height: 70px;
    }

    /* ----------------------------------- Web Section -------------------------------------------------------------*/

    .nav-item #one-web {
        width: 350px;
    }
    
    .nav-item #two-web {
        width: 250px;
    }

    .nav-item .nav-link span.title {
        font-size: 20px;
    }

    .header .logo-sec {
        font-size: 3rem;
    }

    .navbar-sec a {
        font-size: 2.2rem;
    }

    .headerweb .headerweb-container .title h1 {
        font-size: 6rem;
    }

    .headerweb .headerweb-container .overlay-content {
        left: -90px;
        border-right: 800px solid transparent;
        border-top: 30px solid transparent;
        border-left: 800px solid transparent;
        border-bottom: 150px solid var(--bg-color);
    }

    /* First Web */

    .web .heading-oneweb img {
        width: 18vw;
    }

    .web .heading-oneweb .oneweb-text h3 {
        font-size: 3rem;
    }

    .web .heading-oneweb .oneweb-text p {
        font-size: 2rem;
    }

    .oneweb-content img {
        width: 50%;
        border-radius: 1.2rem;
        box-shadow: 0 .1rem .5rem var(--shadow-color);
        margin-bottom: 5rem;
    }

    .oneweb-content h4 {
        font-size: 3rem;
    }

    .oneweb-content p {
        font-size: 2.5rem;
    }

    /* Second Web */

    .web .heading-twoweb img {
        width: 18vw;
    }

    .web .heading-twoweb .twoweb-text h3 {
        font-size: 3rem;
    }

    .web .heading-twoweb .twoweb-text p {
        font-size: 2rem;
    }

    .twoweb-content .img-twoweb {
        margin-bottom: 5rem;
    }

    .twoweb-content img.data1 {
        width: 520px;
        height: 260px;
    }

    .twoweb-content h4 {
        font-size: 3rem;
    }

    .twoweb-content p {
        font-size: 2.5rem;
    }

    /* ----------------------------------- End Web Section ----------------------------------------------------------*/

}

@media (max-width: 1400px) {
    .header .logo-sec {
        font-size: 2.5rem;
    }

    .navbar-sec a {
        font-size: 1.7rem;
        margin-right: 3.5rem;
    }

    #darkMode-sec-icon {
        font-size: 2.2rem;
    }

    .nav-link {
        font-size: 18px;
    }

    .nav-link i {
        width: 50px;
        height: 50px;
    }

    .nav-link .title {
        line-height: 50px;
    }

    .nav-item .nav-link span.title {
        font-size: 15px;
    }

    /* ----------------------------------- Web Section -------------------------------------------------------------*/
    /* Sidebar Web */

    .nav-item #one-web {
        width: 260px;
    }
    
    .nav-item #two-web {
        width: 240px;
    }

    /* End Sidebar Web */

    .headerweb .headerweb-container .title h1 {
        font-size: 5rem;
    }

    .headerweb .headerweb-container .overlay-content {
        left: 6px;
        border-right: 670px solid transparent;
        border-top: 30px solid transparent;
        border-left: 670px solid transparent;
        border-bottom: 100px solid var(--bg-color);
    }

    /* First Web */

    .web .heading-oneweb img {
        width: 18vw;
    }

    .web .heading-oneweb .oneweb-text h3 {
        font-size: 2.2rem;
    }

    .web .heading-oneweb .oneweb-text p {
        font-size: 1.8rem;
    }

    .oneweb-content h4 {
        font-size: 2.5rem;
    }

    .oneweb-content p {
        font-size: 1.5rem;
    }

    /* Second Web */

    .web .heading-twoweb img {
        width: 18vw;
    }

    .web .heading-twoweb .twoweb-text h3 {
        font-size: 2.2rem;
    }

    .web .heading-twoweb .twoweb-text p {
        font-size: 1.8rem;
    }

    .twoweb-content img.data1 {
        width: 460px;
        height: 235px;
    }

    .twoweb-content h4 {
        font-size: 2.5rem;
    }

    .twoweb-content p {
        font-size: 1.5rem;
    }

    /* ----------------------------------- End Web Section ----------------------------------------------------------*/

    .headerml .headerml-container .title h1 {
        font-size: 5rem;
        color: var(--bg-color);
    }

    .headerml .headerml-container .overlay-content {
        left: 6px;
        border-right: 670px solid transparent;
        border-top: 30px solid transparent;
        border-left: 670px solid transparent;
        border-bottom: 100px solid var(--bg-color);
    }

    .ml .heading-twoml img {
        width: 12vw;
        bottom: 0;
    }

    .ml .heading-oneml .oneml-text h3 {
        font-size: 2.2rem;
    }
    
    .ml .heading-oneml .oneml-text p {
        font-size: 1.8rem;
    }

    .oneml-content img {
        margin-bottom: 5rem;
    }

    .oneml-content h4 {
        font-size: 2.5rem;
    }
    
    .oneml-content p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) {
    /* ----------------------------------- Web Section -------------------------------------------------------------*/
    
    .headerweb .headerweb-container .overlay-content {
        left: -120px;
        border-right: 670px solid transparent;
        border-top: 30px solid transparent;
        border-left: 670px solid transparent;
        border-bottom: 100px solid var(--bg-color);
    }

    .twoweb-content img.data1 {
        width: 370px;
        height: 185px;
    }

    /* ----------------------------------- End Web Section ----------------------------------------------------------*/

}

@media (max-width: 690px) {
    #menu-sec-icon {
        display: block;
        cursor: pointer;
        color: var(--bg-color);
    }

    #menu-sec-icon:hover {
        color: var(--black-color);
    }

    .header.sticky #menu-sec-icon,
    .dark-mode .header.sticky #menu-sec-icon {
        color: var(--icon-color);
    }

    .header.sticky #menu-sec-icon:hover,
    .dark-mode .header.sticky #menu-sec-icon:hover {
        color: var(--hover-menu-color);
    }

    #darkMode-sec-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--bg-color);
        margin-bottom: .1rem;
    }

    #darkMode-sec-icon:hover {
        color: var(--hover-menu-color);
    }

    .header.sticky #darkMode-sec-icon,
    .dark-mode .header.sticky #darkMode-sec-icon {
        color: var(--icon-color);
    }

    .header.sticky #darkMode-sec-icon:hover,
    .dark-mode .header.sticky #darkMode-sec-icon:hover {
        color: var(--hover-menu-color);
    }

    .navbar-sec {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--icon-color);
        border-top: 1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        display: none;
    }

    .navbar-sec.active {
        display: block;
        border: none;
    }

    .navbar-sec a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--bg-color);
    }

    .header.sticky .navbar-sec {
        background: var(--white-color);
    }

    .header.sticky .navbar-sec a {
        color: var(--black-color);
    }

    .dark-mode .header.sticky .navbar-sec {
        background: var(--black-color);
    }

    .dark-mode .header.sticky .navbar-sec a {
        color: var(--white-color);
    }

    .headerweb .headerweb-container .overlay-content {
        left: 60px;
        border-right: 270px solid transparent;
        border-top: 0 solid transparent;
        border-left: 270px solid transparent;
        border-bottom: 120px solid var(--bg-color);
    }

    .twoweb-content img.data1 {
        width: 250px;
        height: 125px;
    }
}

@media (max-width: 490px) {
    .headerweb .headerweb-container .overlay-content {
        left: 45px;
        border-right: 200px solid transparent;
        border-top: 0 solid transparent;
        border-left: 200px solid transparent;
        border-bottom: 120px solid var(--bg-color);
    }

    .twoweb-content img.data1 {
        width: 180px;
        height: 90px;
    }
}

@media (max-width: 390px){

    .header .logo-sec {
        font-size: 2.6rem;
    }

    #darkMode-sec-icon {
        font-size: 2.6rem;
    }

    #menu-sec-icon {
        font-size: 3.6rem;
    }

    .navbar-sec a {
        font-size: 3rem;
    }

    .nav-link {
        font-size: 15px;
    }

    .nav-link i {
        width: 35px;
        height: 35px;
    }

    .nav-link .title {
        line-height: 35px;
    }

    .nav-item .nav-link span.title {
        font-size: 12px;
    }

    /* ----------------------------------- Web Section ----------------------------------------------------------- */
    /* Sidebar web */

    .nav-item #one-web {
        width: 200px;
    }

    .nav-item #two-web {
        width: 150px;
    }

    /* End Sidebar web */

    .headerweb .headerweb-container .title h1 {
        font-size: 3rem;
    }

    .headerweb .headerweb-container .overlay-content {
        left: 10px;
        border-right: 180px solid transparent;
        border-top: 10px solid transparent;
        border-left: 180px solid transparent;
        border-bottom: 200px solid var(--bg-color);
    }

    /* first web */

    .web .heading-oneweb .oneweb-text {
        padding: 1.5rem 0 0 0;
        margin-left: 1rem;
    }
    
    .web .heading-oneweb .oneweb-text h3 {
        font-size: 1.5rem;
    }

    .web .heading-oneweb .oneweb-text p {
        font-size: 1.2rem;
    }

    .oneweb-content h4 {
        font-size: 2rem;
    }

    .oneweb-content p {
        font-size: 1rem;
    }

    /* second web */
    .web .heading-twoweb .twoweb-text {
        padding: 1.5rem 0 0 0;
        margin-right: 1rem;
    }

    .web .heading-twoweb .twoweb-text h3 {
        font-size: 1.5rem;
    }

    .web .heading-twoweb .twoweb-text p {
        font-size: 1.2rem;
    }

    .twoweb-content img.data1 {
        width: 140px;
        height: 75px;
    }

    .twoweb-content h4 {
        font-size: 2rem;
    }

    .twoweb-content p {
        font-size: 1rem;
    }
    /* ----------------------------------- End Web Section -------------------------------------------------------- */

}